include README.md
include pyproject.toml
include setup.py
include narytreemodule.cpp
include nary_tree.cpp
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.so
recursive-exclude * *.dylib
recursive-exclude * *.dll